body{
    background-color: rgb(195, 195, 195);
}


.LoginButton{
    background-color: #c382ff;
}


.Box{
  
   margin: auto;
   margin-top: 10%;
}

.Logo{
    width: 80px;
    margin-left: 35%;
}

@media only screen and (max-width: 600px) {
    .Logo{
        width: 90px;
        
    }
  }



  .Done{
      width: 24%;
      margin-top: 4%;
      
  }

  .Greet{
      margin-top: 5%;
      color: brown;
      font-size: 30px;
      font-family: monospace;

  }